<script src="/js/modal.js"></script>
<nav>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/pong">Pong</a></li>
        <li class="navbar-item"><a href="/high-scores">High-scores</a></li>
        {{#if userName}}
<<<<<<< HEAD
            <li class="navbar-item"><a href="/user-scores">{{userName}}</a></li>
        {{/if}}
        
        {{#if loggedIn}}
            <li class="navbar-item navbar-right"><a>log-out</a></li>
        {{else}} 
            <li class="navbar-item navbar-right"><a onclick="showModal()">log-in</a></li>
        {{/if}}
=======
        <li class="navbar-item"><a href="/user-scores/{{userName}}" id="user-name">{{userName}}</a></li>
        <li class="navbar-item navbar-right" id="logout-button">logout</li>
        {{/if}}
        {{#unless userName}}
        <li class="navbar-item navbar-right" id="login-button">login</li>
        {{/unless}}
        
>>>>>>> Thomas-DynamicScores
    </ul>
</nav>
