<main>
    <h2> Welecome to the Pong Zone!</h2>
    <p> This Page will allow you to play Pong!</p>
    <p> You can either go directly to the pong page or you can</p>
    <p> login if you wish to track your scores. If you click login a prompt will</p>
    <p> apear and you can eithe log in as an existing user by clickin log in or</p>
    <p> create a new user by clicking the new user button.</p>
</main>
